.float-left {
  float: left;
  margin-top: 10px;
  margin-right: 20px;
  width: 40%;
}

.float-right {
  float: right;
  margin-top: 10px;
  margin-left: 20px;
  width: 40%;
}

.float-60 {
  width: 60%;
}

.float-right img,
.float-left img {
  width: 100%;
}

.img-caption {
  font-style: italic;
  font-size: smaller;
}

@media only screen and (max-width: 600px) {
  .float-right {
      width: 100%;
      margin-bottom: 10px;
  }
  .float-left {
      width: 100%;
      margin-bottom: 10px;
  }
}

table.trip td:first-child {
  font-weight: bold;
  vertical-align: top;
  padding-right: 25px;
  white-space: nowrap;
}

table.daily {
  td {
    padding: 5px;
  }
  td:first-child {
    text-align: right;
    font-weight: bold;
  }
  td:nth-child(2), td:nth-child(3) {
    text-align: center;
  }
  td:nth-child(4) {
    font-weight: bold;
  }
}
